<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QuanLyBanHang_PS03748.My.MySettings.QuanLyBanHang_PS03748ConnectionString"
            connectionString="workstation id=QuanLyBanHangPS03748.mssql.somee.com;packet size=4096;user id=minhltps03748_SQLLogin_2;pwd=7z19ywytg2;data source=QuanLyBanHangPS03748.mssql.somee.com;persist security info=False;initial catalog=QuanLyBanHangPS03748"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

  <appSettings>
    <add key="MyConnectionString" value= "workstation id=QuanLyBanHangPS03748.mssql.somee.com;packet size=4096;user id=minhltps03748_SQLLogin_2;pwd=7z19ywytg2;data source=QuanLyBanHangPS03748.mssql.somee.com;persist security info=False;initial catalog=QuanLyBanHangPS03748"/>
  </appSettings>
</configuration>